@font-face {
    font-family: "Raleway";
    src: url("Raleway-Regular.ttf") format("truetype");
}


body,html{
	font-family: "Raleway" !important;
}

.noselect{
	opacity: 0.4;
	pointer-events: none;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */	
}

.valuespinner{
	width:50px;
}
.generalTitle{
	font-size:1.5em;
	padding: 10px;
}

.borderedtable td{
	padding: 3px;
}
.borderedtable{

}

#presimulationDivision{
	position: relative;
	margin-top:10px;
	padding-left: 10px;
}



.schedulingtitle{
	font-size: 1.3em;
	padding: 5px;
}



div{
	margin-top:10px;
}
td{
	text-align:center;
	font-size: 0.9em;

}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

#addProcessTable{
	margin-top:10px;
}

.selectedInput{
	cursor: pointer;
	float: left;
	margin-left: 10px;
}

.sched{
	cursor:pointer;
}

#simulationDivision{
	position: relative;
	margin-top:10px;
	padding-left: 10px;
}

#resultDivision{
	position: relative;
	padding-left: 10px;
	z-index: -10;
}

#simulationDivisionLeft{
	float:left;
	padding: 5px;

}

#simulationDivisionRight{
	float:left;
	padding: 5px;
	margin-left: 25px;
}

#jobcontainer{
	float:left;
}


#pagecontainer{
	margin-left: 5px;
	float:left;
}

.divisionhr{
	width: 100%;
	border: 1px solid gray;
}

#elapsedcontainer{
	float: left;
	margin-left: 10px;
	font-size: 1.5em;
}

#statuscontainer{
	float: left;
	margin-left: 100px;
	font-size: 1.5em;
	width: 300px;
}


#arrivalqueuediv{
	border: 0.5px solid gray;
	padding: 5px;
	overflow-y: scroll;
	height: 175px;
}

#processingqueuediv{
	border: 0.5px solid gray;
	padding: 5px;
	overflow-y: scroll;
	height: 175px;	
}


.buttonstyled{
    background-color: white;
    border: 2px solid #275560;
    color: #275560;
    padding: 10px 25px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	cursor:pointer;
}

#startsimulbutton{
	width: 150px;
	display: table-cell;
    text-align:center;
}


.buttonstyled:hover {
    background-color: #275560;
    color: white;
}


#jobtable td{
	border: 0.5px solid black;
	width: 70px;
	padding: 5px;
}


#finalresulttable td{
	padding: 10px; 
}


#messageAdd{
	color:red;
	font-size: 0.8em;
}

.noborder td,table,tr,th{
	border: none;
	
}

#loaderContainer{
	width: 200px;
	height: 10px;
	background-color:rgba(1,1,1,0.3);
	overflow: hidden;
	position: relative;
	
}
#loaderbar{
	width: 0px;
	height: 10px;
	background-color: #275560;
	-webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
	position: relative;
	margin-top: 0px;
}

#loaderPercent{
	font-size: 15pt;
	
}


#ganttTableDetails td{
	padding: 5px;
}


.processingBullet{
	color: #28e235;
	pointer-events:none;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */		
}

.waitingBullet{
	color: #eded2f;
	pointer-events:none;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */		
}

.stoppedBullet{
	color: #ed2f2f;
	pointer-events:none;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */		
}